/*Zerando o CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/*****************************************\
                CABEÇALHO
\*****************************************/
body>header{ /*vai formatar somente o header filho do body*/
    width: 100%;
    height: 60px;
    background-color: #0C0F11;
    display: flex;
    align-items: center;
    gap: 20px; /*vai distanciar a logo do menu*/
    padding-left: 90px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px; /*vai distanciar os menus*/
}

.logotipo img{
    height: 50px;
}

.menu a, .menu a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

/*****************************************\
            BANNER PRINCIPAL
\*****************************************/

.banner img{
    width: 100%;
}

.bannerTitle{
    background-image: url('../img/titulo_banner.png');
    width: 490px;
    height: 150px;
    position: absolute;
    right: 1220px;
    bottom: 450px;
    

    /*background-color: royalblue;*/
}

.bannerTitle p{
    color: #FFF;
    padding-top: 180px;
    padding-left: 70px;
    padding-bottom: 100px;
    width: 540px;
    height: 160px;
    text-align: center;
    font-size: 20px;
}

.bannerTitle a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    border: 2px solid #FFF; /*borda do icone*/
    background-color: #C86C2D;
    padding: 15px; /*espaçamento interno do icone*/
    border-radius: 5%; /*arredondamento dos cantos da borda*/
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 210px;
}


/*****************************************\
                JOGOS
\*****************************************/
.nossosJogos{
    background-image: url('../img/bg-nossos-jogos.jpg'); /*colocar a imagem pelo css para poder sobrepor ela*/
    width: 100%;
    padding: 100px;
}

.artigos article{
    background-color: #FFF;
    height: 400px;
    width: 300px;
    flex-direction:column;
}

.nossosJogos h1{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-weight: 900;
}

.artigos p, .artigos h2{
    text-align: center;
    padding: 20px;
}

.artigos a{
    color: #EA3601;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.artigos{
    display: flex; /*deixa os 'cards' um ao lado do outro*/
    justify-content: center;
    gap: 20px;
}



/*****************************************\
                RODAPÉ
\*****************************************/

.rodape{
    align-items: center;
}

.informacao{
    background-color: #000;
    padding: 100px;
    font-size: 12px;
}

.informacao article, .informacao a, .icons{
    color: #fff;
    text-decoration: none;
}

.informacao article, .icons{
    display: inline-table;
    padding-right: 200px;
}

.informacao a{
    display: flex;
    padding-top: 10px;
}

.icons{
    display: flex;
}

/*
.informacao img{
    height: 50px;
    background-color: #43484F;
    padding: 20px; /*espaçamento interno do icone*
    border-radius: 50%;
}
*/

.icons img{
    height: 50px;
    background-color: #43484F;
    padding: 20px; /*espaçamento interno do icone*/
    border-radius: 50%;
    
}

.logos{
    background-color: #000;
}

.logos img{
    display: inline-table;
    position: relative; /*faz ele aceitar o distanciamento*/
    left: 1180px;
    align-items: baseline;
    bottom: 50px;
    padding: 20px;
}

.suporte{
    background-color: #43484F;
    padding: 30px;
    text-align: center;
    font-size: 12px;
}

.suporte a{
    text-decoration: none;
    color: #FFF;
    padding-right: 20px;
}

.desenvolvido{
    background-color: #000;
    color: #FFFF;
    padding: 20px;
    text-align: center;
}

.desenvolvido span{
    font-weight: 600;
}